
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/channels"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ selectedChannel.name }}</ion-title>
    <!-- <small>{{ selectedChannel.description }}</small> -->

    <!-- Info Icon -->
    <ion-buttons slot="end">
      <ion-button (click)="openDescriptionModal()" class="info-icon">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>

      <!-- More Icon -->
      <ion-button (click)="openActionSheet()" class="more-icon">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="chat-content">

  <div *ngFor="let message of chatMessages; let i = index">
    <div *ngIf="message.sender === 'user'"  class="userChatContent msg-row-own" >
      <div class="msg-bubble">
        <!-- <div class="msg-author">{{ message.author }}</div> -->
        <div class="msg-text">{{ message.text }}</div>
        <div class="msg-time">
          {{ message.timestamp | date:'shortTime' }} <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div *ngIf="message.sender === 'bot'"  class="aiChatContent msg-row-other" >
      <div class="msg-bubble">
        <!-- <div class="msg-author">{{ message.author }}</div> -->
        <div class="msg-text">
          <span  class="currentMessage" *ngIf="displayedResponse && message === currentMessage" [attr.data-value]="displayedResponse">
            {{displayedResponse}}
          </span>

          <div>
            <span *ngIf="!displayedResponse || message !== currentMessage"
              [attr.data-value]="message.text?.toString() || ''">{{message.text?.toString()}}</span>
          </div>
        </div>
        <div class="msg-time">
          {{ message.timestamp | date:'shortTime' }} <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <!-- Welcome Message Display -->
  <div *ngIf="!loading && chatMessages.length === 0" class="channel-item welcome-box">
    <ion-item lines="none" class="welcome-header">
      <img 
            src="assets/images/icons/channels.gif" 
            alt="Channel Icon" 
            slot="start" 
            class="channel-icon"
          />
      <ion-label class="welcome-title">
        Here are some things that I can help with.
      </ion-label>
    </ion-item>

    <ion-list class="welcome-list">
      <ion-item lines="none" *ngFor="let msg of welcomeMessageList" class="welcome-msg-item">
        
        <ion-label>{{ msg }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <form [formGroup]="chatForm" (ngSubmit)="sendMessage()">
      <ion-item lines="none" class="chat-input-row">
        <!-- Plus Icon -->
        <ion-icon name="add" slot="start" class="chat-plus-icon" (click)="onAddAction()"></ion-icon>

        <!-- Input -->
        <ion-input
          placeholder="Type a message..."
          formControlName="message"
          (ionChange)="onInputChange()"
          class="chat-message-input">
        </ion-input>

        <!-- Send Icon -->
        <ion-button
          slot="end"
          fill="clear"
          class="chat-send-button"
          [disabled]="isButtonDisabled"
          type="submit">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-footer>


<ion-modal [isOpen]="isDescriptionModalOpen" (didDismiss)="isDescriptionModalOpen = false" class="custom-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Channel Info</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="isDescriptionModalOpen = false"><ion-icon name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <h3>{{ selectedChannel.name }}</h3>
      <p>{{ selectedChannel.description }}</p>
    </ion-content>
  </ng-template>
</ion-modal>

