
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/channels"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ selectedChannel.name }}</ion-title>
    <small>{{ selectedChannel.description }}</small>
  </ion-toolbar>
</ion-header>
<ion-content class="chat-content">

  <div *ngFor="let message of chatMessages; let i = index">
    <div *ngIf="message.sender === 'user'"  class="msg-row-own" >
      <div class="msg-bubble">
        <!-- <div class="msg-author">{{ message.author }}</div> -->
        <div class="msg-text">{{ message.text }}</div>
        <div class="msg-time">
          {{ message.timestamp | date:'shortTime' }} <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div *ngIf="message.sender === 'bot'"  class="msg-row-other" >
      <div class="msg-bubble">
        <!-- <div class="msg-author">{{ message.author }}</div> -->
        <div class="msg-text">
          <span  class="currentMessage" *ngIf="displayedResponse && message === currentMessage" [attr.data-value]="displayedResponse">
            {{displayedResponse}}
          </span>

          <div>
            <span *ngIf="!displayedResponse || message !== currentMessage"
              [attr.data-value]="message.text?.toString() || ''">{{message.text?.toString()}}</span>
          </div>
        </div>
        <div class="msg-time">
          {{ message.timestamp | date:'shortTime' }} <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <form [formGroup]="chatForm" (ngSubmit)="sendMessage()">
        <ion-input placeholder="Type a message..." formControlName="message" (ionChange)="onInputChange()"></ion-input>
        <ion-button slot="end" color="primary" [disabled]="isButtonDisabled" type="submit">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </form>
    </ion-item>
  </ion-toolbar>
</ion-footer>
