<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Channels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="groupedChannels.length > 0">
    <div *ngFor="let group of groupedChannels" class="channel-group">
      <ion-item 
        *ngFor="let channel of group.channels" 
        button 
        (click)="goToChannel(channel)"
        class="channel-item"
      >
        <!-- Custom Image Icon -->
        <img 
          src="assets/images/icons/channels.gif" 
          alt="Channel Icon" 
          slot="start" 
          class="channel-icon"
        />

        <!-- Channel Name -->
        <ion-label>{{ channel.name }}</ion-label>

        <!-- Right Arrow -->
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </div>
  </ion-list>

  <div *ngIf="!loading && groupedChannels.length === 0">
    <ion-text color="medium">
      <p class="ion-padding">No channels available.</p>
    </ion-text>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="primary" (click)="onCreateChannel()">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Create Channel
    </ion-button>
  </ion-toolbar>
</ion-footer>

