<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Channels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="groupedChannels.length > 0">
    <div *ngFor="let group of groupedChannels" class="channel-group">
      <ion-item 
        *ngFor="let channel of group.channels" 
        button 
        (click)="goToChannel(channel)"
        class="channel-item"
      >
        <!-- Custom Image Icon -->
        <img 
          src="assets/images/icons/channels.gif" 
          alt="Channel Icon" 
          slot="start" 
          class="channel-icon"
        />

        <!-- Channel Name -->
        <ion-label>{{ channel.name }}</ion-label>

        <!-- Right Arrow -->
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </div>
  </ion-list>

 

<!-- Welcome Message Display -->
<div *ngIf="!loading && groupedChannels.length === 0" class="channel-item welcome-box">
  <ion-item lines="none" class="welcome-header">
    <img 
          src="assets/images/icons/channels.gif" 
          alt="Channel Icon" 
          slot="start" 
          class="channel-icon"
        />
    <ion-label class="welcome-title">
      Here are some things that I can help with.
    </ion-label>
  </ion-item>

  <ion-list class="welcome-list">
    <ion-item lines="none" *ngFor="let msg of welcomeMessageList" class="welcome-msg-item">
      
      <ion-label>{{ msg }}</ion-label>
    </ion-item>
  </ion-list>
</div>



</ion-content>
<ion-footer>
  <ion-toolbar class="custom-footer">
    <ion-button expand="block" color="primary" (click)="onCreateChannel()">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Create Channel
    </ion-button>
  </ion-toolbar>
</ion-footer>

