.profile-content {
    text-align: center;
    padding: 20px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.role {
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}

.profile-form ion-item {
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
}

ion-button {
    margin: 10px 0;
}


ion-header {
    --background: none !important;
}

.welcome-text {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #009688;
}

.sub-text {
    text-align: center;
    font-size: 14px;
    color: #777;
}

.stimul8-card {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


.blue {
    background: #0f52a9c2;
}

.yellow {
    background: #a4a90f7a;
}

.green {
    background: #0fa9a49c;
}

.purple {
    background: #5c5bd58c;
}

.dark-green {
    background: #0fa957ab;
}

.gray {
    background: #85acc4c4;
}


.header-md {
    box-shadow: none !important;
}

.hydrated a {
    background: none !important;
}



.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.avatar {
    background: #009688;
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
    margin-left: 8px;
    font-size: 14px;
}

.location {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

.location-icon {
    background: #9e9e9e;
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 8px;
}