<ion-content [fullscreen]="true" class="bgWrapp homeWrapp">

  <ion-img class="homeLogo" src="../../../assets/images/stimul8.svg" alt="Logo"></ion-img>

  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let item of menuItems"
        [routerLink]="[item.route]"
      >
        <ion-card class="stimul8-card ion-text-center">
          <div class="card-inner">
            <ion-img [src]="item.icon" class="card-icon"></ion-img>
            <p class="card-label">{{ item.label }}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
